# SPDX-FileCopyrightText: Contributors to the GXF project
#
# SPDX-License-Identifier: Apache-2.0

version: '3'
services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5434:5434"
    volumes:
      - ./docker/postgres/:/docker-entrypoint-initdb.d/
    environment:
      POSTGRES_PASSWORD: 1234
      POSTGRES_USER: postgres
